<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Teacher</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet">
  <link rel="stylesheet" href="/css/users.css" >
  {{{_sections.maker}}}
</head>
<body>

  <div class="wrapper">
    <!-- Page Header -->
    <div class="header">
      <button type="button" class="btn btn-default toggle">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>

      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-cog"></span>
          Settings
        </button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#"><b>{{name}}</b></a></li>
          <li role="separator" class="divider"></li>
          <li class="logout"><a href="/sign-in">Logout</a></li>
        </ul>
      </div>
    </div>

    <!-- Left Navbar -->
    <div class="sidebar">
      <ul class="nav navig">
        <li role="presentation" class="act"><a href="/teacher"><i class="glyphicon glyphicon-edit"></i><span>&emsp;Manage Courses</span></a></li>
        <li role="presentation"><a href="/teacher/createCourse"><i class="glyphicon glyphicon-th-list"></i><span>&emsp;Create Course</span></a></li>
      </ul>
    </div>

    <div class="content">
      <div class="container-fluid">
        {{{ body }}}
      </div>
    </div>

  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/js/teacher.js"></script>
  {{{_sections.handle}}}
  {{{_sections.script}}}

</body>
</html>
